<template>
  <div class="financial-tool">
    <x-button plain type="primary" class="tool" @click.nativ="exchangeRateCalulator">
      <i class="iconfont icon-huishuaichaxun" style="color: #2476FE"></i>
      <span>汇率计算</span>
    </x-button>
    <x-button plain type="primary" class="tool" @click.nativ="risksGoldCalulator">
      <i class="iconfont icon-diban-" style="color: #0BAF4C"></i>
      <span>四险一金计算器</span>
    </x-button>
    <x-button plain type="primary" class="tool" @click.nativ="financialTool">
      <i class="iconfont icon-jinrong" style="color: #FF8781"></i>
      <span>金融工具</span>
    </x-button>
  </div>
</template>
<script>
  import { XButton } from 'vux'

  export default {
    name: '',
    data () {
      return {}
    },
    props: [],
    computed: {
      exchangeRateCalulator () {},
      risksGoldCalulator () {},
      financialTool () {}
    },
    watch: {},
    methods: {},
    mounted () {},
    components: {
      XButton
    }
  }
</script>
<style lang="less">
  @import "../../../src/assets/css/vars.less";

  .financial-tool {
    padding: 20px;
    .tool {
      padding: 10px 0 10px 20%;
      border-radius: 10px;
      color: @black;
      border-color: #eee;
      text-align: left;
      > i {
        font-size: @fontSize32;
      }
      > span {
        display: inline-block;
        margin-left: 10px;
        font-size: @fontSize20;
        font-weight: 700;
      }
    }
  }
</style>
