<template>
  <div class="home_page">
    <div>
      <div style="height:200px;background: #2476FE;color: #fff;">
        <span class="credit-score">您的信用分 : {{userInfo.score}}</span>
        <div class="quota_circle">
          <div>
            <x-circle
              :percent="percent"
              :stroke-width="1"
              stroke-color="#4D5DBA">
              <div style="color: #4D5DBA">1000</div>
              <div style="color: #000">授信额度</div>
            </x-circle>
          </div>
          <x-button mini plain class="quota_act" @click.native="increaseCredit">提升额度</x-button>
          <x-button mini plain class="quota_act" @click.native="startLoan">启动借款</x-button>
        </div>
      </div>
      <grid :cols="3" :show-lr-borders="false" :show-vertical-dividers="false">
        <grid-item v-for="b in businessList" :key="b.iconClass" @click.native="goSecondPage(b)">
          <i :class="`iconfont ${b.iconClass}`" :style="{color:`${b.color}`}" class="icon-class"></i>
          <span class="grid-center grid-span">{{b.name}}</span>
        </grid-item>
      </grid>
      <div>
        <div style="margin-top: 10px;">
          <tab :line-width=2 bar-active-color="#2476FE" active-color="#2476FE" v-model="indexLoan">
            <tab-item class="vux-center" :selected="demo === index" v-for="(item, index) in loanList"
                      @click="demo = index" :key="index">{{item}}
            </tab-item>
          </tab>
          <swiper v-model="indexLoan" :show-dots="false">
            <swiper-item v-for="item in Object.keys(loanListObj)" :key="item">
              <div class="tab-swiper vux-center">
                <flexbox v-for="load in loanListObj[item]" :key="load.name" class="vux-1px-t" style="padding: 15px;"
                         @click.native="goDetail(load.url)">
                  <flexbox-item :span="3" style="float: right;">
                    <div class="flex-demo">
                      <x-img default-src="../../../src/assets/defaultIcon.png" :src="load.icon"
                             style="height: 85px;vertical-align: middle;"></x-img>
                    </div>
                  </flexbox-item>
                  <flexbox-item>
                    <div class="flex-demo">
                      <h4 style="display: inline-block;vertical-align: middle;">{{load.name}}</h4> <badge text="房屋抵押" v-show="load.needPledge"></badge>
                      <p>
                        <span style="display: inline-block;margin-right: 1em;padding-top:10px;">可贷<h5
                          style="display: inline-block;">{{load.applyMoney}}</h5></span>
                        <span>月费率<h5 style="display: inline-block;">{{load.interest}}</h5></span>
                      </p>
                      <p> 放贷时间 {{load.reviewDay}}天</p>
                    </div>
                  </flexbox-item>
                </flexbox>
                <div v-show="loanListObj[item].length === 0" style="text-align: center;padding-top: 25px;">暂无相关产品</div>
              </div>
            </swiper-item>
          </swiper>
        </div>
      </div>
    </div>
    <popup v-model="show" class="setPwdPopup">
      <group>
        <x-input ref="password" placeholder="请设置密码" v-model="pwd"></x-input>
      </group>
      <group>
        <x-button type="primary" @click.native="setPwd">确定</x-button>
      </group>
    </popup>
  </div>
</template>
<script>
  import {
    XCircle,
    Grid,
    GridItem,
    Group,
    XInput,
    XButton,
    Popup,
    Alert,
    Divider,
    Tab,
    TabItem,
    Panel,
    Swiper,
    SwiperItem,
    Flexbox,
    FlexboxItem,
    XImg,
    Badge
  } from 'vux'
  import { ApiSetPwd, ApiGetUserInfo, ApiLoanList } from '../../service/api'
  import { mapGetters } from 'vuex'

  export default {
    name: '',
    data () {
      const list = () => ['线上贷款', '线下贷款', '信用卡']
      return {
        percent: 100,
        businessList: [{
          name: '成为合伙人',
          iconClass: 'icon-dailix-',
          color: '#0AA0FF',
          componentName: 'Partner'
        }, {
          name: '金融工具',
          iconClass: 'icon-jinlingyingcaiwangtubiao09',
          color: '#009688',
          componentName: 'FinancialTool'
        }, {
          name: '信用卡办理',
          iconClass: 'icon-xinyongqia',
          color: '#FF9800'
        }, {
          name: '合伙人制度',
          iconClass: 'icon-guizhangzhidu',
          color: '#009688',
          componentName: 'PartnerSystem'
        }, {
          name: '联系我们',
          iconClass: 'icon-lianxiwomen',
          color: '#FF4081',
          componentName: 'ContactUs'
        }, {
          name: '门店工具',
          iconClass: 'icon-mendian',
          color: '#4F5FBB'
        }],
        userInfo: {
          tel: '--',
          headImg: '--',
          score: '--'
        },
        show: false,
        pwd: '',
        indexLoan: 0,
        demo: 0,
        loanList: list(),
        loanListObj: {
          online: [],
          offline: [],
          credit: []
        }
      }
    },
    props: [],
    computed: {
      ...mapGetters([
        'userToken'
      ])
    },
    watch: {
      show: function (val) {
        if (val === false) {
          localStorage.setItem('hasPwd', '1')
        }
      }
    },
    methods: {
      increaseCredit () {
        this.$router.push({name: 'IncreaseCredit'})
      },
      startLoan () {
        this.$router.push({name: 'StartLoan'})
      },
      goDetail (url) {
        window.location.href = url
      },
      goSecondPage (obj) {
        if (obj.componentName) {
          this.$router.push({name: obj.componentName})
        }
      },
      setPwd () {
        this.show = false
        ApiSetPwd(this.baseFun.toFormData({
          pwd: this.pwd,
          token: this.userToken
        })).then(data => {
          if (data.code === 1) {
            localStorage.setItem('hasPwd', '1')
          } else {
            this.showPlugin(data.msg)
            setTimeout(() => {
              this.$vux.alert.hide()
            }, 1000)
          }
        })
      },
      showPlugin (msg) {
        this.$vux.alert.show({
          content: msg
        })
      }
    },
    mounted () {
      if (localStorage.getItem('hasPwd') === '0') {
        this.show = true
      }
      ApiGetUserInfo(this.baseFun.toFormData({
        token: this.userToken
      })).then(data => {
        if (data.code === 1) {
          this.userInfo = data.data
        }
      })
      ApiLoanList(this.baseFun.toFormData({
        token: this.userToken
      })).then(data => {
        if (data.code === 1 && data.data.length > 0) {
          data.data.forEach(d => {
            if (d.type === '1') {
              this.loanListObj.online.push(d)
            } else if (d.type === '2') {
              this.loanListObj.offline.push(d)
            } else {
              this.loanListObj.credit.push(d)
            }
            /* ApiLoanDetail(this.baseFun.toFormData({
              id: d.id,
              token: this.userToken
            })).then(detail => {
              if (d.type === '1') {
                this.loanListObj.online.push(Object.assign(d, detail.data))
              } else if (d.type === '2') {
                this.loanListObj.offline.push(Object.assign(d, detail.data))
              } else {
                this.loanListObj.credit.push(Object.assign(d, detail.data))
              }
            }) */
          })
        }
      })
    },
    components: {
      XCircle,
      Grid,
      GridItem,
      Group,
      XInput,
      XButton,
      Popup,
      Alert,
      Divider,
      Tab,
      TabItem,
      Panel,
      Swiper,
      SwiperItem,
      Flexbox,
      FlexboxItem,
      XImg,
      Badge
    }
  }
</script>
<style lang="less" scoped>
  @import "../../../src/assets/css/vars.less";

  .home_page {
    .credit-score {
      display: block;
      padding-top: 10px;
      text-align: center;
    }
    .quota_circle {
      height: 225px;
      position: relative;
      width: 90%;
      left: 5%;
      margin-top: 10px;
      border-radius: 5px;
      background: #fff;
      box-shadow: 10px 10px 5px #888888;
      text-align: center;
    }

    .quota_circle > div {
      width: 150px;
      height: 150px;
      position: relative;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .quota_act {
      top: 15px;
      border: 0;
      color: #fff;
      background: linear-gradient(#2476FE, #2DC9FF);
    }
    .quota_act:nth-child(3) {
      margin-left: 50px;
    }
    .weui-grids {
      margin-top: 75px;
    }
    .weui-grid {
      text-align: center;
      padding: 10px;
    }
    .weui-grids:before {
      border: 0;
    }
    .weui-grid:after {
      border: 0;
    }
    .grid-span {
      display: block;
      color: @black !important;
    }
    .icon-class {
      font-size: @fontSize32;
    }
    .setPwdPopup {
      width: 90%;
      height: 150px !important;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      padding: 10px;
    }
  }

</style>
