<template>
  <div class="incerase_credit">
    <flexbox wrap="wrap" :gutter="0" v-for="i in [0,1]" :key="i" class="vux-1px-t vux-1px-b">
      <flexbox-item :span="4" v-for="c in creditInfoList.slice(3*i,3*i+3)" :key="c.iconClass" @click.native="goInfo(c)">
        <div>
          <i :class="`iconfont ${c.iconClass}`"></i>
          <p class="grid-center grid-span">{{c.name}}</p>
          <p class="grid-center grid-span" :style="{color:`${c.state === '0'? '#FE736B' : '#2476FE'}`}">
            {{`${c.state === '0' ? '未录入' : '去认证'}`}}</p>
        </div>
      </flexbox-item>
    </flexbox>
  </div>
</template>
<script>
  import { Flexbox, FlexboxItem } from 'vux'
  import { mapGetters } from 'vuex'
  import { ApiGetBaseInfo, ApiGetWorkInfo, ApiGetAssetsInfo, ApiGetLoanInfo } from '../../service/api'
  export default {
    name: '',
    data () {
      return {
        creditInfoList: [{
          code: 'baseInfo',
          name: '个人基本信息',
          iconClass: 'icon-gerenjibenxinxi',
          state: '0'
        }, {
          code: 'workInfo',
          name: '工作信息',
          iconClass: 'icon-gongzuoxinxi1',
          state: '0'
        }, {
          code: 'assetsInfo',
          name: '个人资产',
          iconClass: 'icon-zichan',
          state: '0'
        }, {
          code: 'loanInfo',
          name: '个人借贷信息',
          iconClass: 'icon-jiedai1',
          state: '0'
        }]
      }
    },
    props: [],
    computed: {
      ...mapGetters([
        'userToken'
      ])
    },
    watch: {},
    methods: {
      goInfo (c) {
        this.info = false
        if (c.code === 'baseInfo') this.$router.push({name: 'BaseInfoPage'})
        if (c.code === 'workInfo') this.$router.push({name: 'WorkInfoPage'})
        if (c.code === 'assetsInfo') this.$router.push({name: 'AssetsInfoPage'})
        if (c.code === 'loanInfo') this.$router.push({name: 'LoanInfoPage'})
      }
    },
    mounted () {
      ApiGetBaseInfo(
        this.baseFun.toFormData({
          token: this.userToken
        })
      ).then(data => {
        if (data.code === 1) {
          this.creditInfoList[0].state = data.data.hasInfo
        }
      })
      ApiGetWorkInfo(
        this.baseFun.toFormData({
          token: this.userToken
        })
      ).then(data => {
        if (data.code === 1) {
          this.creditInfoList[0].state = data.data.hasInfo
        }
      })
      ApiGetAssetsInfo(
        this.baseFun.toFormData({
          token: this.userToken
        })
      ).then(data => {
        if (data.code === 1) {
          this.creditInfoList[0].state = data.data.hasInfo
        }
      })
      ApiGetLoanInfo(
        this.baseFun.toFormData({
          token: this.userToken
        })
      ).then(data => {
        if (data.code === 1) {
          this.creditInfoList[0].state = data.data.hasInfo
        }
      })
    },
    components: {
      Flexbox,
      FlexboxItem
    }
  }
</script>
<style lang="less">
  .incerase_credit {
    .vux-flexbox {
      padding: 10px;
      border-bottom: 15px #eee solid;
    }
    .vux-flexbox-item {
      padding-bottom: 5px;
      text-align: center;
    }
    .grid-span {
      font-size: 14px;
    }
  }
</style>
