<template>
  <div class="partner">
    <div v-if="isPartner">
      <x-input title="推荐人" placeholder="推荐人手机号" mask="999 9999 9999" v-model="recommender" :max="13"
               is-type="china-mobile" class="vux-1px-b">
        <x-button slot="right" plain type="primary" mini @click.native="submitRecommender">提交</x-button>
      </x-input>
      <span class="money">需要支付金额 : {{money}}</span>
      <div class="agreement">
        <span><i class="iconfont icon-yonghuxieyi"></i></span>
        <x-button plain type="primary" @click.native="partnerAgreement">合伙人协议</x-button>
      </div>
      <x-button class="agreementOk" type="primary" @click.native="conficrme">确认成为合伙人</x-button>
    </div>
    <div v-else>
      <card :header="{title: '合伙人'}">
        <div slot="content" class="card-demo-flex card-demo-content01">
          <div>
            <span>待审核金额</span>
            <br/>
            20万
          </div>
          <div>
            <span>可提现金额</span>
            <br/>
            20万
          </div>
          <div>
            <span>已审核金额</span>
            <br/>
            20万
          </div>
        </div>
        <div slot="footer" class="card-demo-flex card-demo-content01 vux-1px-b">
          <x-button plain type="primary" @click.native="withdraw" class="withdraw">提现</x-button>
        </div>
      </card>
      <card :header="{title: '销售产品'}" style="margin-top: 10px;">
        <div slot="content">
          <x-table :cell-bordered="false">
            <thead style="background: #eee;">
            <tr>
              <th class="table-th"></th>
              <th class="table-th">产品名</th>
              <th class="table-th">完成日期</th>
              <th class="table-th">应得返利</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(salesProduct,index) in salesProducts" :key="index">
              <td>{{index + 1}}</td>
              <td>{{salesProduct.name}}</td>
              <td>{{salesProduct.date}}</td>
              <td>{{salesProduct.money}}</td>
            </tr>
            </tbody>
          </x-table>
        </div>
      </card>
      <card :header="{title: '成功销售产品列表'}">
        <div slot="content">
          <x-table :cell-bordered="false">
            <thead style="background: #eee;">
            <tr>
              <th class="table-th"></th>
              <th class="table-th">产品名</th>
              <th class="table-th">完成日期</th>
              <th class="table-th">应得返利</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(salesProduct,index) in salesProductsList" :key="index">
              <td>{{index + 1}}</td>
              <td>{{salesProduct.name}}</td>
              <td>{{salesProduct.date}}</td>
              <td>{{salesProduct.money}}</td>
            </tr>
            </tbody>
          </x-table>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
  import { Flexbox, FlexboxItem, XInput, Group, XButton, Card, XTable } from 'vux'

  export default {
    name: '',
    data () {
      return {
        isPartner: true,
        recommender: '',
        money: '200',
        salesProducts: [{
          name: 'xxxx',
          date: 'xxx-xx-x',
          money: '1000'
        }, {
          name: 'xxxx',
          date: 'xxx-xx-x',
          money: '1000'
        }],
        salesProductsList: []
      }
    },
    props: [],
    computed: {},
    watch: {},
    methods: {
      submitRecommender () {},
      partnerAgreement () {

      },
      conficrme () {

      },
      withdraw () {

      }
    },
    mounted () {
      this.salesProductsList = this.salesProducts
    },
    components: {
      Flexbox,
      FlexboxItem,
      XInput,
      Group,
      XButton,
      Card,
      XTable
    }
  }
</script>
<style lang="less">
  @import "../../../src/assets/css/vars.less";

  .partner {
    .money {
      display: block;
      padding-left: 15px;
      padding-top: 10px;
      color: #FF8781;
      font-size: @fontSize14;
    }
    .agreement {
      margin: 15px auto;
      width: 60%;
      > span {
        position: absolute;
        left: 65%;
        margin-top: -25px;
        > i {
          font-size: @fontSize45;
          color: @bgColor;
        }
      }
    }
    .agreementOk {
      margin: 15px auto;
      width: 80%;
    }
    .weui-btn_primary {
      background-color: @bgColor;
    }
    .weui-btn_plain-primary {
      color: @bgColor;
      border: 1px solid @bgColor;
    }
    .card-demo-flex {
      display: flex;
    }
    .weui-panel:after, .weui-panel__hd:after {
      border: 0;
    }
    .card-demo-flex > div {
      flex: 1;
      text-align: center;
      font-size: 12px;
    }
    .card-demo-flex span {
      color: #000;
    }
    .card-demo-content01 {
      padding: 10px 0;
    }

    .weui-panel__hd {
      font-size: 16px;
      color: #000;
    }
    .withdraw {
      width: 30%;
      margin: 10px auto;
      border-radius: 99px;
    }
    .table-th {
      font-size: @fontSize14;
    }
  }

</style>
