<template>
  <div class="partner-system">
    <divider><span>参与方式</span></divider>
    <span class="msg">{{participateMsg}}</span>
    <divider><span>收入方式</span></divider>
    <span class="msg">{{income}}</span>
  </div>
</template>
<script>
  import { Divider } from 'vux'

  export default {
    name: '',
    data () {
      return {
        participateMsg: `从狭义上讲，公众参与即公民在代议制政治中参与投票选举活动，即由公众参与选出代议制机构及人员的过程，这是现代民主政治的一项重要指标，也是现代社会公民的一项重要责任。
        从广义上讲，公众参与除了公民的政治参与外，还必须包括所有关心公共利益、公共事务管理的人的参与，要有推动决策过程的行动。`,
        income: `劳动者报酬指劳动者从事生产活动所应得的全部报酬。包括劳动者应得的工资、奖金和津贴，既有货币形式的，也有实物形式的，还有劳动者所享受的公费医疗和医药卫生费、上下班交通补贴和单位为职工缴纳的社会保险费等。对于个体经济来说，其所有者所获得的劳动报酬和经营利润不易区分，这两部分统一作为劳动者报酬处理。
在计算劳动者报酬时，需要注意作为劳动者报酬的实物性收入与中间消耗的界限。如果生产单位向从事生产活动的劳动者提供的货物或服务，可以满足劳动者在闲暇时间里的需要，并可改善和提高他们的实际生活水平，同时，其他普通消费者也可以在市场上购买到这些货物和服务，那么这部分货物和服务就属于劳动者的实物收入。生产单位为了生产能正常进行，为劳动者购买的货物和提供的服务，如因特殊工作需要提供的服装或鞋，因公出差提供的运输和旅馆服务费用等，属于中间投入`
      }
    },
    props: [],
    computed: {},
    watch: {},
    methods: {},
    mounted () {},
    components: {
      Divider
    }
  }
</script>
<style lang="less">
  @import "../../../src/assets/css/vars.less";
  .partner-system {
    padding: 20px 10px;
    .vux-divider {
      > span {
        display: inline-block;
        border-left: 5px solid @bgColor;
        padding-left: 10px;
      }
    }
    .vux-divider:after {
      width: 100% !important;
    }
  }

  .vux-divider:before {
    width: 0 !important;
  }

  .msg {
    text-indent: 2em;
    display: block;
    padding: 1em;
  }
</style>
