<template>
  <div class="start_loan">
    <div class="quota">
      <div>
        <div class="quota_circle">
          <x-circle
            :percent="percent"
            :stroke-width="1"
            stroke-color="#4D5DBA">
            <div style="color: #4D5DBA">1000</div>
            <div style="color: #000">授信额度</div>
          </x-circle>
        </div>
        <div style="position: relative;height: 20px;background: #fff;"></div>
        <x-button mini plain class="quota_act" @click.native="moreCredit">更高额度</x-button>
      </div>
    </div>
    <div style="margin-top: 5em">
      <flexbox :gutter="0" class="vux-1px-t vux-1px-b" style="padding: 10px 0;" v-for="(quota,index) in quotaList"
               :key="index">
        <flexbox-item :span="4" style="text-align: center;">
          <div class="flex-demo">
            <p style="color: #ff0000;">{{quota.money}}元</p>
            <p style="color: #999;">{{quota.type}}</p>
          </div>
        </flexbox-item>
        <flexbox-item style="text-align: center;">
          <div class="flex-demo">
            <x-button mini plain @click.native="moreCredit" style="border-color: #2476FE;color: #2476FE;">确认借款
            </x-button>
          </div>
        </flexbox-item>
      </flexbox>
    </div>
    <div style="margin-top: 2em">
      <tab :line-width=2 active-color="#45ADFB" bar-active-color="#45ADFB" v-model="indexLoan">
        <tab-item class="vux-center" :selected="demo === index" v-for="(item, index) in loanList"
                  @click="demo = index" :key="index">{{item}}
        </tab-item>
      </tab>
      <swiper v-model="indexLoan" :show-dots="false">
        <span class="prompt-text">根据额度匹配出来的渠道列表</span>
        <swiper-item>
          <div class="tab-swiper vux-center" style="padding-top: 3em;">
            <flexbox :gutter="0" style="padding: 0.5em;flex-wrap: wrap;">
              <flexbox-item :span="4" v-for="(channel, index) in channelList" :key="channel">
                <div class="ellipsis-text"><i class="iconfont icon-xinyongqia" style="margin-right: 0.3em"></i>{{channel}}
                </div>
              </flexbox-item>
            </flexbox>
          </div>
        </swiper-item>
      </swiper>
    </div>
  </div>
</template>
<script>
  import { XCircle, XButton, Flexbox, FlexboxItem, Tab, TabItem, Swiper, SwiperItem } from 'vux'

  export default {
    name: '',
    data () {
      const list = () => ['线上借款推荐', '线下借款推荐', '信用卡贷款推荐']
      return {
        percent: 100,
        quotaList: [{
          money: 10000,
          type: '预期借款金额',
          desc: '**********'
        }, {
          money: 10000,
          type: '线上推荐额度',
          desc: ''
        }, {
          money: 10000,
          type: '线下推荐额度',
          desc: ''
        }],
        indexLoan: 0,
        demo: 0,
        loanList: list(),
        channelList: ['卡卡贷', '浦发信用卡', '白鹅贷', '农行贷款', '工行信用卡']
      }
    },
    props: [],
    computed: {},
    watch: {},
    methods: {
      moreCredit () {}
    },
    mounted () {},
    components: {
      XCircle, XButton, Flexbox, FlexboxItem, Tab, TabItem, Swiper, SwiperItem
    }
  }
</script>
<style lang="less">
  @import "../../../src/assets/css/vars.less";

  .start_loan {
    .quota {
      height: 200px;
      background: @bgColor;
      color: #fff;
      > div {
        height: 225px;
        position: relative;
        width: 90%;
        left: 5%;
        top: 15px;
        border-radius: 5px;
        background: #fff;
        box-shadow: 10px 10px 5px #888888;
        text-align: center;
      }
    }
    .quota_circle {
      width: 150px;
      height: 150px;
      position: relative;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .quota_act {
      border: 0;
      color: #fff;
      background: linear-gradient(#2476FE, #2DC9FF);
    }
    .ellipsis-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .prompt-text {
      font-size: 14px;
      color: rgb(153, 153, 153);
      padding-left: 1em;
      padding-top: 0.5em;
      display: inline-block;
    }
  }
</style>
