<template>
  <div class="my">
    <div class="my-info">
      <span>信用分 : {{`${userInfo.score ? userInfo.score : '--'}`}}</span>
      <div>
        <flexbox wrap="wrap" :gutter="0" style="padding: 0;margin: 0;border: 0;">
          <flexbox-item :span="4">
            <x-img default-src="../../../src/assets/user.png" :src="userInfo.headImg"
                   style="width: 6em; height: 6em;vertical-align: middle;"></x-img>
          </flexbox-item>
          <flexbox-item :span="8" class="base-info">
            <span>账号 : {{`${userInfo.tel ? userInfo.tel : '--'}`}}</span>
            <span>合伙人 : {{`${userInfo.partner ? userInfo.partner : '--'}`}}</span>
            <span>可借款 : {{`${userInfo.borrowable ? userInfo.borrowable : '0'}`}}</span>
          </flexbox-item>
        </flexbox>
      </div>
      <x-button plain type="primary" @click.native="mentioning" class="mentioning">提额</x-button>
    </div>
    <card :header="{title: '合伙人'}" style="margin-top: 0 !important;">
      <div slot="content" class="card-demo-flex card-demo-content01">
        <div>
          <span>待审核金额</span>
          <br/>
          20万
        </div>
        <div>
          <span>可提现金额</span>
          <br/>
          20万
        </div>
        <div>
          <span>已审核金额</span>
          <br/>
          20万
        </div>
      </div>
      <div slot="footer" class="card-demo-flex card-demo-content01 vux-1px-b">
        <x-button plain type="primary" @click.native="withdraw" class="withdraw">提现</x-button>
      </div>
    </card>
    <card :header="{title: '贷款订单'}" class="loan-order">
      <div slot="content">
        <flexbox wrap="wrap" :gutter="0" class="vux-1px-t vux-1px-b">
          <flexbox-item :span="4" v-for="c in ordersList" :key="c.iconClass">
            <div>
              <i :class="`iconfont ${c.iconClass}`"></i>
              <p class="grid-center grid-span">{{c.name}}</p>
            </div>
          </flexbox-item>
        </flexbox>
      </div>
    </card>
    <flexbox wrap="wrap" :gutter="0" v-for="i in [0,1,2]" :key="i" class="vux-1px-t vux-1px-b">
      <flexbox-item :span="4" v-for="c in userInfoList.slice(3*i,3*i+3)" :key="c.iconClass">
        <div @click="goDetail(c)">
          <i :class="`iconfont ${c.iconClass}`"></i>
          <p class="grid-center grid-span">{{c.name}}</p>
        </div>
      </flexbox-item>
    </flexbox>
    <popup v-model="show" class="setPwdPopup" @on-hide="onHide">
      <group>
        <x-input ref="password" placeholder="请设置密码" v-model="pwd"></x-input>
      </group>
      <group>
        <x-button type="primary" @click.native="setPwd">确定</x-button>
      </group>
    </popup>
  </div>
</template>
<script>
  import { Flexbox, FlexboxItem, Card, XButton, XImg, Group, XInput, Popup } from 'vux'
  import { mapGetters } from 'vuex'
  import { ApiSetPwd, ApiGetUserInfo } from '../../service/api'
  export default {
    name: '',
    data () {
      return {
        userInfo: {},
        ordersList: [{
          name: '待完成订单',
          iconClass: 'icon-daiwanchengdingdanicon'
        }, {
          name: '已完成订单',
          iconClass: 'icon-yiwanchengdingdan',
          componnet: 'StorePage'
        }],
        userInfoList: [{
          name: '我的会员',
          iconClass: 'icon-huiyuan'
        }, {
          name: '门店查询',
          iconClass: 'icon-mendian1',
          componnet: 'StorePage'
        }, {
          name: '修改头像',
          iconClass: 'icon-touxiang'
        }, {
          name: '设置',
          iconClass: 'icon-shezhi'
        }, {
          name: '联系我们',
          iconClass: 'icon-6',
          componnet: 'ContactUs'
        }, {
          name: '分享',
          iconClass: 'icon-jinlingyingcaiwangtubiao38',
          componnet: 'Share'
        }, {
          name: '登录密码设置',
          iconClass: 'icon-setting_resetpw',
          action: 'setPwd'
        }, {
          name: '绑定支付宝',
          iconClass: 'icon-zhifubao'
        }, {
          name: '绑定银行卡',
          iconClass: 'icon-icon-copy'
        }],
        show: false,
        pwd: ''
      }
    },
    props: [],
    computed: {
      ...mapGetters([
        'userToken'
      ])
    },
    watch: {},
    methods: {
      mentioning () {},
      goDetail (obj) {
        if (obj.componentName) {
          this.$router.push({name: obj.componentName})
        }
        if (obj.action && obj.action === 'setPwd') {
          this.show = true
        }
      },
      onHide () {
        this.show = false
        this.pwd = ''
      },
      setPwd () {
        if (this.pwd === '') {
          this.show = false
          this.pwd = ''
          return
        }
        ApiSetPwd(this.baseFun.toFormData({
          pwd: this.pwd,
          token: this.userToken
        })).then(data => {
          if (data.code === 1) {
            this.show = false
            this.pwd = ''
          } else {
            this.showPlugin(data.msg)
            setTimeout(() => {
              this.$vux.alert.hide()
            }, 1000)
          }
        })
      },
      showPlugin (msg) {
        this.$vux.alert.show({
          content: msg
        })
      }
    },
    mounted () {
      ApiGetUserInfo(this.baseFun.toFormData({
        token: this.userToken
      })).then(data => {
        if (data.code === 1) {
          this.userInfo = data.data
        }
      })
    },
    components: {
      Flexbox, FlexboxItem, Card, XButton, XImg, Group, XInput, Popup
    }
  }
</script>
<style lang="less">
  @import "../../../src/assets/css/vars.less";

  .my {
    .my-info {
      color: #fff;
      background: linear-gradient(#2476FE, #2DC9FF);
      padding: 10px 0 20px 0;
      > span {
        display: block;
        text-align: right;
        padding-right: 10%;
        margin-bottom: -10px;
        color: orange;
      }
      .base-info {
        text-align: left;
        span {
          display: block;
          padding: 5px 0;
        }
      }
      .mentioning {
        width: 20%;
        position: relative;
        margin-right: 10%;
        margin-top: -15px;
        border-color: #fff;
        color: #fff;
        border-radius: 99px;
      }
    }
    .loan-order {
      border-top: 15px #eee solid;
      margin: 0;
    }
    .card-demo-flex {
      display: flex;
    }
    .weui-panel:after, .weui-panel__hd:after {
      border: 0;
    }
    .weui-panel__hd {
      font-size: 16px;
      color: #000;
    }
    .card-demo-flex > div {
      flex: 1;
      text-align: center;
      font-size: 12px;
    }
    .card-demo-flex span {
      color: #000;
    }
    .card-demo-content01 {
      padding: 10px 0;
    }
    .vux-flexbox {
      padding: 10px 0;
      border-bottom: 15px #eee solid;
    }
    .vux-flexbox-item {
      padding-bottom: 5px;
      text-align: center;
    }
    .grid-span {
      font-size: 14px;
    }
    .weui-btn_plain-primary {
      color: @bgColor;
      border: 1px solid @bgColor;
    }
    .withdraw {
      width: 30%;
      margin: 10px auto;
      border-radius: 99px;
    }
    .setPwdPopup {
      width: 90%;
      height: 150px !important;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      padding: 10px;
    }
  }
</style>
