<template>
  <div class="share-type">
    <x-button plain type="primary" class="type" @click.nativ="codeShare">
      <i class="iconfont icon-huishuaichaxun" style="color: #2476FE;vertical-align: middle;"></i>
      <span>分享二维码图片</span>
    </x-button>
    <x-button plain type="primary" class="type" @click.nativ="friendsShare">
      <i class="iconfont icon-diban-" style="color: #0BAF4C;vertical-align: middle;"></i>
      <span>分享朋友圈</span>
    </x-button>
    <x-button plain type="primary" class="type" @click.nativ="SoftPaperShare">
      <i class="iconfont icon-jinrong" style="color: #FF8781;vertical-align: middle;"></i>
      <span>推广软文分享</span>
    </x-button>
    <x-button plain type="primary" class="type" @click.nativ="createAccount">
      <i class="iconfont icon-jinrong" style="color: #FF8781;vertical-align: middle;"></i>
      <span>面对面开通账号</span>
    </x-button>
  </div>
</template>
<script>
  import { XButton } from 'vux'

  export default {
    name: '',
    data () {
      return {}
    },
    props: [],
    computed: {
      codeShare () {},
      friendsShare () {},
      SoftPaperShare () {},
      createAccount () {}
    },
    watch: {},
    methods: {},
    mounted () {},
    components: {
      XButton
    }
  }
</script>
<style lang="less">
  @import "../../../src/assets/css/vars.less";

  .share-type {
    padding: 20px;
    .type {
      padding: 10px 0 10px 20%;
      border-radius: 10px;
      color: @black;
      border-color: #eee;
      text-align: left;
      > i {
        font-size: @fontSize32;
      }
      > span {
        display: inline-block;
        margin-left: 10px;
        font-size: @fontSize20;
        font-weight: 700;
      }
    }
  }
</style>
