@import "./vars.less";

.baseInfo, .workInfo, .assetsInfo, .loanInfo {
  .weui-cells {
    margin-top: 0;
    .weui-cell:before,
    .vux-cell-box:before {
      left: 0;
    }
    .weui-label {
      font-size: @fontSize14;
    }
  }
  .submitInfo {
    width: 90%;
    height: 3em;
    margin-left: 5%;
    margin-top: 1em;
    background-color: @bgColor;
  }
}
