<template>
  <div class="home">
    <view-box ref="viewbox" body-padding-top="46px">
      <div class="vux-demo-header-box" slot="header">
        <x-header :left-options="{showBack:false}" class="x-header">
          <span>{{pageTitle}}</span>
          <span slot="left" style="color:#000;">位置</span>
          <span slot="right" style="color:#000;" @click="goStore">门店</span>
        </x-header>
      </div>
      <div v-transfer-dom class="loading-box">
        <loading :show="loading" position="absolute"></loading>
      </div>
      <router-view></router-view>
      <tabbar slot="bottom">
        <tabbar-item selected :link="{ name: 'HomePage'}">
          <i class="iconfont icon-shouyedefuben" slot="icon"></i>
          <span slot="label" class="span-label">首页</span>
        </tabbar-item>
        <tabbar-item :link="{ name: 'FinancialMatter'}">
          <i class="iconfont icon-baike" slot="icon"></i>
          <span slot="label" class="span-label">金融百度</span>
        </tabbar-item>
        <tabbar-item :link="{ name: 'FinancialConsulting'}">
          <i class="iconfont icon-zixun" slot="icon"></i>
          <span slot="label" class="span-label">金融咨询</span>
        </tabbar-item>
        <tabbar-item :link="{ name: 'My'}">
          <i class="iconfont icon-wode" slot="icon"></i>
          <span slot="label" class="span-label">我的</span>
        </tabbar-item>
      </tabbar>
    </view-box>
  </div>
</template>

<script>
  import { Tabbar, Icon, TabbarItem, XHeader, Loading, ViewBox, XButton, TransferDomDirective as TransferDom } from 'vux'
  import { mapGetters } from 'vuex'

  export default {
    computed: mapGetters([
      'userToken',
      'loading',
      'pageTitle'
    ]),
    data () {
      let data = {}
      return data
    },
    methods: {
      goStore () {
        this.$router.push({name: 'StorePage'})
      }
    },
    mounted () {

    },
    directives: {
      TransferDom
    },
    components: {
      XButton,
      Tabbar,
      TabbarItem,
      XHeader,
      Loading,
      ViewBox,
      Icon
    }
  }
</script>
<style lang="less" scoped>
  @import "../../src/assets/css/vars.less";

  .home {
    height: 100%;
    .vux-demo-header-box {
      z-index: 100;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
    }
    .x-header {
      background-color: @bgColor !important;
      .vux-header-title span {
        display: inline-block;
        font-size: @fontSize20;
        font-style: italic;
      }
      .vux-header-left span, .vux-header-right span {
        color: @white !important;
        font-size: @fontSize14;
      }
    }
    .weui-tabbar__icon img {
      width: auto;
      height: 90%;
    }
    .weui-tabbar .weui-bar__item_on .span-label,
    .weui-tabbar .weui-bar__item_on .weui-tabbar__icon > i {
      color: @bgColor !important;
    }

    .span-label {
      padding-top: 5px;
      display: block;
    }
  }
</style>
