<template>
  <div style="height:100%;">
    <view-box ref="viewBox">
      <div class="login">
        <div style="text-align: center;">
          <x-img src="../../src/assets/login.png" style="height: 100px;"></x-img>
        </div>
        <tab :line-width=3 v-model="index" active-color="#2476FE">
          <tab-item class="vux-center" :selected="index === 0"
                    v-for="(item, index) in loginTypeList" :key="index">
            {{item}}
          </tab-item>
        </tab>
        <group :show-dots="false" class="login-form">
          <x-input ref="phoneNumber" placeholder="请输入手机号" mask="999 9999 9999" v-model="phoneNumber" :max="13"
                   is-type="china-mobile"></x-input>
          <x-input ref="code" type="number" placeholder="请输入验证码" :max="6" v-model="code" v-show="index === 0">
            <x-button slot="right" plain mini @click.native="getVerification"
                      style="border-width:0 !important;height: 26px;">获取验证码
            </x-button>
          </x-input>
          <x-input ref="password" placeholder="请输入密码" v-model="password" v-show="index === 1"></x-input>
        </group>
        <x-button type="primary" @click.native="login" style="margin-top: 20px;background: #2476FE;">登录</x-button>
        <span style="display: block;margin-top: 10px;">登录即同意金服服<a style="color: #2476FE;">服务协议</a></span>
      </div>
      <span style="width: 100%;padding-bottom: 10px;position: absolute;bottom: 0;text-align: center; color: orange;">欢迎登录金服服</span>
    </view-box>
  </div>
</template>
<script>
  import { ViewBox, XHeader, XImg, Tab, TabItem, Group, XInput, XButton, Alert, Popup } from 'vux'
  import { mapMutations } from 'vuex'
  import { ApiSendVerificationCode, ApiLoginByCode, ApiLoginByPwd } from '../service/api'
  export default {
    name: '',
    data () {
      return {
        index: 0,
        loginTypeList: ['验证码登录', '密码登录'],
        phoneNumber: '',
        code: '',
        password: ''
      }
    },
    props: [],
    computed: {
      tel: function () {
        return this.phoneNumber.replace(/\s+/g, '')
      }
    },
    watch: {
      index: {
        handler: function (val, oldVal) {
          this.$refs.phoneNumber.reset()
          this.$refs.code.reset()
          this.$refs.password.reset()
        },
        deep: true
      }
    },
    methods: {
      ...mapMutations([
        'USER_TOKEN'
      ]),
      getVerification () {
        ApiSendVerificationCode(this.baseFun.toFormData({tel: this.tel})).then(data => {
          if (data.code !== 1) {
            this.showPlugin('请重新输入手机号')
            setTimeout(() => {
              this.$vux.alert.hide()
            }, 2000)
          }
        })
      },
      login () {
        if (this.index === 0) {
          ApiLoginByCode(this.baseFun.toFormData({
            tel: this.tel,
            code: this.code,
            imei: Math.random().toString(36).substr(2)
          })).then(data => {
            if (data['code'] === 1) {
              this.USER_TOKEN(data.data.token)
              localStorage.setItem('hasPwd', data.data.hasPwd)
              this.$router.push({name: 'HomePage'})
            } else {
              this.showPlugin(data.msg)
              setTimeout(() => {
                this.$vux.alert.hide()
              }, 2000)
            }
          })
        }
        if (this.index === 1) {
          ApiLoginByPwd(this.baseFun.toFormData({
            tel: this.tel,
            pwd: this.password,
            imei: Math.random().toString(36).substr(2)
          })).then(data => {
            if (data['code'] === 1) {
              this.USER_TOKEN(data.data.token)
              this.$router.push({name: 'HomePage'})
            } else {
              this.showPlugin(data.msg)
              setTimeout(() => {
                this.$vux.alert.hide()
              }, 2000)
            }
          })
        }
      },
      showPlugin (msg) {
        this.$vux.alert.show({
          content: msg
        })
      }
    },
    mounted () {},
    components: {
      ViewBox,
      XHeader,
      XImg,
      Tab,
      TabItem,
      Group,
      XInput,
      XButton,
      Alert,
      Popup
    }
  }
</script>
<style lang="less">
  .login {
    padding: 20% 20px;
  }

  .login-form .weui-cells {
    margin-top: 0;
  }
</style>
