<template>
  <div class="second-page">
    <view-box ref="viewbox" body-padding-top="46px">
      <div class="vux-demo-header-box" slot="header">
        <x-header class="x-header">
          <span>{{pageTitle}}</span>
        </x-header>
      </div>
      <router-view></router-view>
    </view-box>
  </div>
</template>
<script>
  import {
    Tabbar,
    Icon,
    TabbarItem,
    XHeader,
    Loading,
    ViewBox,
    XButton
  } from 'vux'
  import { mapGetters } from 'vuex'

  export default {
    name: '',
    data () {
      return {}
    },
    props: [],
    computed: mapGetters([
      'userToken',
      'loading',
      'pageTitle'
    ]),
    watch: {},
    methods: {},
    mounted () {},
    components: {
      XButton,
      Tabbar,
      TabbarItem,
      XHeader,
      Loading,
      ViewBox,
      Icon
    }
  }
</script>
<style lang="less" scoped>
  @import "../../src/assets/css/vars.less";

  .second-page {
    height: 100%;
    .vux-demo-header-box {
      z-index: 100;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
    }
    .x-header {
      background-color: @bgColor !important;
    }
  }
</style>
