<template>
    <div>
        {{msg}}
    </div>
</template>
<script>
  export default {
    name: '',
    data () {
      return {
        msg: '这是一个单文件模板'
      }
    },
    props: [],
    computed: {},
    watch: {},
    methods: {},
    mounted () {},
    components: {}
  }
</script>
<style>
</style>
