<template>
  <div class="assetsInfo">
    <group>
      <popup-picker title="车贷 " :data="carLoanList" v-model="assetsInfo.carLoan" placeholder="车贷 "
                    :display-format="format"></popup-picker>
      <popup-picker title="房贷" :data="houseLoanList" v-model="assetsInfo.houseLoan" placeholder="房贷"
                    :display-format="format"></popup-picker>
      <popup-picker title="保单" :data="policyList" v-model="assetsInfo.policy" placeholder="选择"
                    :display-format="format"></popup-picker>
      <popup-picker title="理财" :data="financialList" v-model="assetsInfo.financial" placeholder="选择"
                    :display-format="format"></popup-picker>
    </group>
    <x-button type="primary" mini @click.native="submitInfo" class="submitInfo">提交</x-button>
  </div>
</template>
<script>
  import { Group, PopupPicker, XInput, XButton } from 'vux'
  import { mapGetters } from 'vuex'
  import {
    ApiSetAssetsInfo
  } from '../../service/api'
  export default {
    data () {
      let arr = [{
        value: '1',
        name: '是'
      }, {
        value: '0',
        name: '否'
      }]
      return {
        assetsInfo: {
          carLoan: [],
          houseLoan: [],
          policy: [],
          financial: []
        },
        carLoanList: [arr],
        houseLoanList: [arr],
        policyList: [arr],
        financialList: [arr],
        format: this.formatPopupPicker
      }
    },
    props: [],
    computed: {
      ...mapGetters([
        'userToken'
      ])
    },
    watch: {},
    methods: {
      submitInfo () {
        ApiSetAssetsInfo(
          this.baseFun.toFormData({
            token: this.userToken,
            carLoan: this.assetsInfo.carLoan[0],
            houseLoan: this.assetsInfo.houseLoan[0],
            policy: this.assetsInfo.policy[0],
            financial: this.assetsInfo.financial[0]
          })
        ).then(data => {
          if (data.code === 1) this.$router.push({name: 'IncreaseCredit'})
        })
      }
    },
    mounted () {},
    components: {
      Group,
      PopupPicker,
      XInput,
      XButton
    }
  }
</script>
<style lang="less">
</style>
