<template>
  <div class="baseInfo">
    <group>
      <x-input title="姓名" v-model="baseInfo.name" placeholder="姓名" placeholder-align="right"
               text-align="right"></x-input>
      <popup-picker title="性别" :data="sexList" v-model="baseInfo.sex" placeholder="性别"
                    :display-format="format"></popup-picker>
      <x-input title="年龄" type="number" v-model="baseInfo.age" placeholder="年龄" placeholder-align="right"
               text-align="right"></x-input>
      <popup-picker title="是否已婚" :data="marriedList" v-model="baseInfo.married" placeholder="婚否"
                    :display-format="format"></popup-picker>
      <popup-picker title="教育程度" :data="educationList" v-model="baseInfo.education" placeholder="教育程度"
                    :display-format="format"></popup-picker>
      <x-input title="芝麻信用分" v-model="baseInfo.zhimaScore" placeholder="芝麻信用分" placeholder-align="right"
               text-align="right"></x-input>
      <x-input title="淘宝值" v-model="baseInfo.taobaoScore" placeholder="淘宝值" placeholder-align="right"
               text-align="right"></x-input>
    </group>
    <x-button type="primary" mini @click.native="submitInfo" class="submitInfo">提交</x-button>
  </div>
</template>
<script>
  import { Group, PopupPicker, XInput, XButton } from 'vux'
  import { mapGetters } from 'vuex'
  import {
    ApiSetBaseInfo
  } from '../../service/api'
  export default {
    data () {
      return {
        baseInfo: {
          name: '',
          sex: [],
          age: '',
          education: [],
          married: [],
          zhimaScore: '',
          taobaoScore: ''
        },
        sexList: [[{
          value: '1',
          name: '男'
        }, {
          value: '2',
          name: '女'
        }]],
        marriedList: [[{
          value: '1',
          name: '是'
        }, {
          value: '0',
          name: '否'
        }]],
        educationList: [[{
          value: '1',
          name: '硕士及以上'
        }, {
          value: '2',
          name: '本科'
        }, {
          value: '3',
          name: '大专'
        }, {
          value: '4',
          name: '中专/高中及以下'
        }]],
        format: this.formatPopupPicker
      }
    },
    props: [],
    computed: {
      ...mapGetters([
        'userToken'
      ])
    },
    watch: {},
    methods: {
      submitInfo () {
        ApiSetBaseInfo(
          this.baseFun.toFormData({
            token: this.userToken,
            name: this.baseInfo.name,
            sex: this.baseInfo.sex[0],
            age: this.baseInfo.age,
            education: this.baseInfo.education[0],
            married: this.baseInfo.married[0],
            zhimaScore: this.baseInfo.zhimaScore,
            taobaoScore: this.baseInfo.taobaoScore
          })
        ).then(data => {
          if (data.code === 1) this.$router.push({name: 'IncreaseCredit'})
        })
      }
    },
    mounted () {
    },
    components: {
      Group,
      PopupPicker,
      XInput,
      XButton
    }
  }
</script>
<style lang="less">
</style>
