<!--
<template>
  <div class="loanInfo">
  </div>
</template>
<script>
  import { Group, PopupPicker, XInput, XButton } from 'vux'
  import { mapGetters } from 'vuex'
  import {
    ApiSetLoanInfo
  } from '../../service/api'
  export default {
    data () {
      return {
        loanInfo:{
          creditCard:[],
          hasOverdue:[],
          applyCard:[],
          hasLoan:[],
          bankLoan:'',
          networkLoan:''
        },
        creditCardList:[],
        hasOverdueList:[],
        applyCardList:[
          []
        ],
        hasLoanList:[
          [{
            value: '1',
            name: '有'
          }, {
            value: '0',
            name: '无'
          }]
        ],
        format:this.formatPopupPicker
      }
    },
    props: [],
    computed: {
      ...mapGetters([
        'userToken'
      ])
    },
    watch: {},
    methods: {
      submitInfo () {
        ApiSetLoanInfo(
          this.baseFun.toFormData({
            token: this.userToken,
            creditCard: this.loanInfo.creditCard[0],
            hasOverdue: this.loanInfo.hasOverdue[0],
            applyCard: this.loanInfo.applyCard[0],
            hasLoan: this.loanInfo.hasLoan[0],
            bankLoan:this.loanInfo.bankLoan,
            networkLoan:this.loanInfo.networkLoan
          })
        ).then(data => {
          if (data.code === 1) this.$router.push({name: 'IncreaseCredit'})
        })
      }
    },
    mounted () {},
    components: {
      Group,
      PopupPicker,
      XInput,
      XButton
    }
  }
</script>
<style lang="less">
</style>
-->
