<template>
  <div class="store">
    <card :header="{title: '门店信息'}">
      <div slot="content" class="card-demo-content01">
        <flexbox>
          <flexbox-item v-for="type in Object.keys(addressObj)" :key="addressObj.type">
            <div class="flex-demo address" @click="showChooseAddress(type)">{{addressObj[type].name}}
            </div>
          </flexbox-item>
        </flexbox>
        <x-address title="address" :list="addressDataAll" @on-hide="onHide" @on-shadow-change="onShadowChange"
                   :show.sync="showAddress"
                   style="display:none;"></x-address>
      </div>
    </card>
    <card :header="{title: '销售产品'}">
      <div slot="content" class="card-demo-content01">
        <x-table :cell-bordered="false" class="card-demo-content01" style="table-layout: fixed;">
          <thead>
            <tr>
              <th style="width: 5%"></th>
              <th style="width: 65%">地址</th>
              <th style="width: 30%">联系电话</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(store,index) in storeList" :key="store.detail" v-show="storeList.length !== 0">
              <td>{{index + 1}}</td>
              <td>{{store.detail}}</td>
              <td>{{store.tel}}</td>
            </tr>
            <tr v-show="storeList.length === 0">
              <td colspan="3">该地区尚无门店</td>
            </tr>
          </tbody>
        </x-table>
      </div>
    </card>
  </div>
</template>
<script>
  import { Card, Flexbox, FlexboxItem, XAddress, ChinaAddressV4Data, XTable } from 'vux'
  import { mapGetters } from 'vuex'
  import { ApiAddressList, ApiStoreList } from '../../service/api'
  export default {
    name: '',
    data () {
      return {
        addressDataAll: [],
        addressData: ChinaAddressV4Data,
        showAddress: false,
        addressObj: {
          province: {
            id: '',
            name: '--'
          },
          city: {
            id: '',
            name: '--'
          },
          county: {
            id: '',
            name: '--'
          },
          town: {
            id: '',
            name: ''
          }
        },
        changeAddressObj: {},
        changeAddressType: '',
        storeList: []
      }
    },
    props: [],
    computed: mapGetters([
      'userToken'
    ]),
    watch: {
      addressObj: {
        handler: function (val, oldVal) {
          ApiStoreList(this.baseFun.toFormData({
            id: val['town'].id,
            token: this.userToken
          })).then(data => {
            this.storeList = data.data
          })
        },
        deep: true
      }
    },
    methods: {
      onShadowChange (ids, names) {
        this.changeAddressObj = {
          id: ids[0],
          name: names[0]
        }
      },
      onHide (arg) {
        if (arg) {
          this.addressObj[this.changeAddressType].id = this.changeAddressObj.id
          this.addressObj[this.changeAddressType].name = this.changeAddressObj.name
          if (this.changeAddressType === 'province') {
            this.getAddress(this.changeAddressObj.id, 'city')
          }
          if (this.changeAddressType === 'city') {
            this.getAddress(this.changeAddressObj.id, 'county')
          }
          if (this.changeAddressType === 'county') {
            this.getAddress(this.changeAddressObj.id, 'town')
          }
        }
      },
      showChooseAddress (type) {
        this.changeAddressType = type
        if (type === 'province') {
          this.getAddress('0', type, 'data')
        }
        if (type === 'city') {
          this.getAddress(this.addressObj['province'].id, type, 'data')
        }
        if (type === 'county') {
          this.getAddress(this.addressObj['city'].id, type, 'data')
        }
        if (type === 'town') {
          this.getAddress(this.addressObj['county'].id, type, 'data')
        }
        this.showAddress = true
      },
      getAddress (id, type, arg) {
        ApiAddressList(this.baseFun.toFormData({
          id: id,
          token: this.userToken
        })).then(data => {
          if (data.msg === 'success' && arg === 'data') {
            this.addressDataAll = []
            data.data.forEach(dd => {
              this.addressDataAll.push({
                name: dd.name,
                value: dd.id
              })
            })
          } else {
            this.addressObj[type].id = data.data[0].id
            this.addressObj[type].name = data.data[0].name
            if (type === 'province') {
              this.getAddress(this.addressObj['province'].id, 'city')
            }
            if (type === 'city') {
              this.getAddress(this.addressObj['city'].id, 'county')
            }
            if (type === 'county') {
              this.getAddress(this.addressObj['county'].id, 'town')
            }
          }
        })
      }
    },
    mounted () {
      this.getAddress('0', 'province')
    },
    components: {
      Card,
      Flexbox,
      FlexboxItem,
      XAddress,
      XTable
    }
  }
</script>
<style lang="less">
  .store {
    .card-demo-content01 {
      padding: 0 15px 5px 15px;
    }

    .card-padding {
      padding: 15px;
    }

    .flex-demo {
      border: 1px solid #C7C7C7;
      text-align: center;
      height: 25px;
      line-height: 25px;
    }

    .card-demo-flex span {
      color: #f74c31;
    }
    .weui-panel__hd {
      color: #000;
      font-size: 14px;
    }
    .weui-panel:after, .weui-panel__hd:after {
      border: 0;
    }
    td, .address {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

</style>
