<template>
  <div class="workInfo">
    <group>
      <popup-picker title="职业类型" :data="workList" v-model="workInfo.work" placeholder="职业类型"
                    :display-format="format"></popup-picker>
      <popup-picker title="收入状况" :data="incomeList" v-model="workInfo.income" placeholder="收入状况"
                    :display-format="format"></popup-picker>
      <x-input title="工作年限" type="number" v-model="workInfo.workYear" placeholder="工作年限" placeholder-align="right"
               text-align="right"></x-input>
      <popup-picker title="缴纳社保" :data="socialSecurityList" v-model="workInfo.socialSecurity" placeholder="缴纳社保"
                    :display-format="format"></popup-picker>
      <popup-picker title="工资发放方式" :data="payWayList" v-model="workInfo.payWay" placeholder="工资发放方式"
                    :display-format="format"></popup-picker>
    </group>
    <x-button type="primary" mini @click.native="submitInfo" class="submitInfo">提交</x-button>
  </div>
</template>
<script>
  import { Group, PopupPicker, XInput, XButton } from 'vux'
  import { mapGetters } from 'vuex'
  import {
    ApiSetWorkInfo
  } from '../../service/api'
  export default {
    data () {
      return {
        workInfo: {
          work: [],
          workYear: '',
          income: [],
          socialSecurity: [],
          payWay: []
        },
        workList: [[{
          value: '1',
          name: '上班族 '
        }, {
          value: '2',
          name: '个体经营'
        }, {
          value: '3',
          name: '公司 '
        }, {
          value: '4',
          name: '企事业单位'
        }, {
          value: '5',
          name: '自由职业'
        }]],
        incomeList: [[{
          value: '1',
          name: '1-10w '
        }, {
          value: '2',
          name: '10-25w'
        }, {
          value: '3',
          name: '25-35w '
        }, {
          value: '4',
          name: '35-50w'
        }, {
          value: '5',
          name: '50w+'
        }]],
        socialSecurityList: [[{
          value: '1',
          name: '缴纳'
        }, {
          value: '0',
          name: '未缴纳'
        }]],
        payWayList: [[{
          value: '1',
          name: '打卡'
        }, {
          value: '2',
          name: '现金'
        }]],
        format: this.formatPopupPicker
      }
    },
    props: [],
    computed: {
      ...mapGetters([
        'userToken'
      ])
    },
    watch: {},
    methods: {
      submitInfo () {
        ApiSetWorkInfo(
          this.baseFun.toFormData({
            token: this.userToken,
            work: this.workInfo.work[0],
            income: this.workInfo.income[0],
            workYear: this.workInfo.workYear,
            socialSecurity: this.workInfo.socialSecurity[0],
            payWay: this.workInfo.payWay[0]
          })
        ).then(data => {
          if (data.code === 1) this.$router.push({name: 'IncreaseCredit'})
        })
      }
    },
    mounted () {},
    components: {
      Group,
      PopupPicker,
      XInput,
      XButton
    }
  }
</script>
<style lang="less">
</style>
